body {
  background-color: white;
}

.container{
  background-attachment: fixed;
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centerContainer {
  background-attachment: scroll;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.containerList{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.ul{
  list-style-type: none;
  text-align: left;
}

.li:hover{
  background-color: lightblue;
}

.list{
  flex: 1;
  width: 100%;
}

.remove:hover{
  color: red;
  cursor: pointer
}

.removeAll:hover {
  color: lightblue;
  cursor: pointer
}

.divScroll {
  overflow: auto;
  height: 400px;
  width: 100%;
}